# Logs
**/logs/
*.log
src/main/resources/logs/

# Secrets / Environment
.env
.env.*
*.env


# Java/Spring
target/
*.class
*.jar
*.war
*.ear
*.ctxt
.mtj.tmp/
*.iml
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# OS
.DS_Store
Thumbs.db

.agents/rules
.agents/workflows

graphify-out